apiVersion: apps/v1
kind: Deployment
metadata: 
  name: ibm-common-service-operator
  namespace: {{ .Values.global.operatorNamespace }}
  labels:
    component-id: {{ .Chart.Name }}
    {{- if .Values.cpfs.labels }}
      {{- with .Values.cpfs.labels }}
        {{- toYaml . | nindent 4 }}
      {{- end }}
    {{- end}}
  annotations:
    alm-examples: |
      [
        {
          "apiVersion": "operator.ibm.com/v3",
          "kind": "CommonService",
          "metadata": {
            "labels": {
              "component-id": "{{ .Chart.Name }}",
              "foundationservices.cloudpak.ibm.com": "commonservice"
              {{- range $key, $val := .Values.cpfs.labels }}
              ,
              "{{ $key }}": "{{ $val }}"
              {{- end}}
            },
            "annotations": {
              "apiVersion": "-1"
            },
            "name": "common-service",
            "namespace": "{{ .Values.global.operatorNamespace }}"
          },
          "spec": {
            "license": {
              "accept": {{ .Values.global.licenseAccept | default "false" }}
            },
            "operatorNamespace": "{{ .Values.global.operatorNamespace }}",
            "servicesNamespace": "{{ .Values.global.instanceNamespace }}",
            "size": "{{ .Values.cpfs.size }}",
            "storageClass": "{{ .Values.global.blockStorageClass }}"
            {{- if not .Values.cpfs.roksEnabled }},
            "services": [
              {
                "name": "ibm-im-operator",
                "spec": {
                  "authentication": {
                    "config": {
                      "roksEnabled": {{ .Values.cpfs.roksEnabled }}
                    }
                  }
                }
              }
            ]
            {{- end }}
          }
        }
      ]
spec: 
  replicas: 1
  selector: 
    matchLabels: 
      name: ibm-common-service-operator
  strategy: 
    type: Recreate
  template: 
    metadata: 
      annotations: 
        productID: 068a62892a1e4db39641342e592daa25
        productMetric: FREE
        productName: IBM Cloud Platform Common Services
      labels: 
        app.kubernetes.io/instance: ibm-common-service-operator
        app.kubernetes.io/managed-by: ibm-common-service-operator
        app.kubernetes.io/name: ibm-common-service-operator
        name: ibm-common-service-operator
        productName: IBM_Cloud_Platform_Common_Services
    spec: 
      affinity: 
        nodeAffinity: 
          requiredDuringSchedulingIgnoredDuringExecution: 
            nodeSelectorTerms:               
              - matchExpressions:                   
                  - key: kubernetes.io/arch
                    operator: In
                    values: 
                      - amd64
                      - ppc64le
                      - s390x
      containers:         
        - name: ibm-common-service-operator
          image: {{ .Values.cpfs.imagePullPrefix | default .Values.global.imagePullPrefix }}/{{ .Values.cpfs.imageRegistryNamespaceOperator}}/common-service-operator:4.17.0
          command: 
            - /manager
          env:             
            - name: OPERATOR_NAMESPACE
              valueFrom: 
                fieldRef: 
                  apiVersion: v1
                  fieldPath: metadata.namespace
          {{- $watchNamespaces := .Values.global.tetheredNamespaces | default list -}}
          {{- if .Values.global.instanceNamespace -}}
          {{- $watchNamespaces = append $watchNamespaces .Values.global.instanceNamespace -}}
          {{- end -}}
          {{- $watchNamespaces = prepend $watchNamespaces .Values.global.operatorNamespace }}
            - name: WATCH_NAMESPACE
              value: {{ uniq $watchNamespaces | join "," | quote }}
            - name: NO_OLM
              value: "true"
            - name: ENABLE_WEBHOOKS
              value: "false"
            - name: OPERATOR_NAME
              value: ibm-common-service-operator
          imagePullPolicy: IfNotPresent
          livenessProbe: 
            failureThreshold: 10
            httpGet: 
              path: /healthz
              port: 8081
            initialDelaySeconds: 120
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe: 
            failureThreshold: 10
            httpGet: 
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 20
            timeoutSeconds: 20
          resources: 
            limits: 
              cpu: 500m
              memory: 512Mi
            requests: 
              cpu: 100m
              ephemeral-storage: 256Mi
              memory: 200Mi
          securityContext: 
            allowPrivilegeEscalation: false
            capabilities: 
              drop: 
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile: 
              type: RuntimeDefault
      imagePullSecrets:
        - name: {{ .Values.global.imagePullSecret }}
      serviceAccountName: ibm-common-service-operator
      terminationGracePeriodSeconds: 10
