logger: {}
chartname: ibm-common-service-operator
sharedValues:
  imagePullPrefix: icr.io
  imagePullSecret: ibm-entitlement-key
  imageRegistryNamespaceOperator: cpopen
  imageRegistryNamespaceOperand: cpopen/cpfs
  operatorNamespace: operator-ns
  operatorImage: ibm-common-service-operator 
  tag: latest
  affinity: {}
  nodeSelector: {}
  podSecurityContext: {}
  resources: {}
  securityContext: {}
  tolerations: {}
globalConfig:
  metadata.labels:
  - strategy: newline
    key: ibm-common-service-operator.labels
  metadata.name:
  - strategy: inline
    key: ibm-common-service-operator.fullname
  metadata.namespace:
  - strategy: inline
    key: sharedValues.operatorNamespace
fileConfig:
  generate-helm/ibm-common-service-operator-generated/commonservices.operator.ibm.com-crd.yaml: {}
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-cr.yaml: {}
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-crb.yaml:
    subjects[0].namespace:
      - strategy: inline
        key: sharedValues.operatorNamespace
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-deployment.yaml:
    spec.template.spec.containers[0].image:
    - strategy: inline
      key: sharedValues.imagePullPrefix
    - strategy: inline
      key: sharedValues.imageRegistryNamespaceOperator
    - strategy: inline
      key: sharedValues.operatorImage
    - strategy: inline
      key: sharedValues.tag
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-rb.yaml: 
    subjects[0].namespace:
      - strategy: inline
        key: sharedValues.operatorNamespace
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-role.yaml: {}
  generate-helm/ibm-common-service-operator-generated/ibm-common-service-operator-sa.yaml: {}
  generate-helm/ibm-common-service-operator-generated/mutating-webhook-configuration-mutatingwebhookconfiguration.yaml: {}
  generate-helm/ibm-common-service-operator-generated/selfsigned-issuer-issuer.yaml: {}
  generate-helm/ibm-common-service-operator-generated/serving-cert-certificate.yaml: {}
  generate-helm/ibm-common-service-operator-generated/validating-webhook-configuration-validatingwebhookconfiguration.yaml: {}
  generate-helm/ibm-common-service-operator-generated/webhook-service-svc.yaml: {}
