apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ibm-common-service-operator
rules:
# create rbac for ibmcloud-cluster-info & ibmcloud-cluster-ca-cert in kube-public
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - get
  - list
  - update
# Manipulate ConfigMap in kube-public namespace
- verbs:
  - delete
  - update
  apiGroups:
  - ''
  resources:
  - configmaps
  resourceNames:
  - common-service-maps
  - ibm-common-services-status
- verbs:
  - create
  - get
  - list
  - watch
  apiGroups:
  - ''
  resources:
  - configmaps
# Get StorageClass from cluster
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ibm-common-service-operator
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
