apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ibm-common-service-operator
rules:
# create ibm-common-services namespace permission
- apiGroups:
  - ''
  resources:
  - namespaces
  verbs:
    - create
    - get
    - list
    - watch
    - update
# create subscriptions & operatorgroup permission in ibm-common-services
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - operatorgroups
  verbs:
  - list
  - get
  - create
  - update
  - watch
# check catalogsource migration for highest priority of internal dev build
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  verbs:
  - get
# delete existing subscriptions in openshift-operators/ibm-common-services
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - clusterserviceversions
  verbs:
  - delete
  - get
  - list
# cluster watch CommonService
- apiGroups:
  - operator.ibm.com
  resources:
  - commonservices
  - commonservices/status
  verbs:
  - get
  - list
  - watch
  - update
# create CRD permission
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - get
  - update
# create rbac
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - roles
  - clusterrolebindings
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
  - escalate
  - bind
- verbs:
  - delete
  - update
  apiGroups:
  - ''
  resources:
  - configmaps
  resourceNames:
  - common-service-maps
  - ibm-common-services-status
  - odlm-scope
  - namespace-scope
- verbs:
  - create
  - get
  - list
  - watch
  apiGroups:
  - ''
  resources:
  - configmaps
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - get
- apiGroups:
  - pkg.ibm.crossplane.io
  resources:
  - locks
  - configurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ibm-common-service-operator
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
