logger: {}
chartname: ibm-common-service-operator
sharedValues:
  affinity: {}
  nodeSelector: {}
  podSecurityContext: {}
  resources: {}
  securityContext: {}
  tolerations: {}
globalConfig:
  metadata.labels:
  - strategy: newline
    key: ibm-common-service-operator.labels
  metadata.name:
  - strategy: inline
    key: ibm-common-service-operator.fullname
fileConfig:
  helm/ibm-common-service-operator-generated/commonservices.operator.ibm.com-crd.yaml: {}
  helm/ibm-common-service-operator-generated/ibm-common-service-operator-cr.yaml: {}
  helm/ibm-common-service-operator-generated/ibm-common-service-operator-crb.yaml: {}
  helm/ibm-common-service-operator-generated/ibm-common-service-operator-deployment.yaml: {}
  helm/ibm-common-service-operator-generated/ibm-common-service-operator-rb.yaml: {}
  helm/ibm-common-service-operator-generated/ibm-common-service-operator-role.yaml: {}
  helm/ibm-common-service-operator-generated/mutating-webhook-configuration-mutatingwebhookconfiguration.yaml: {}
  helm/ibm-common-service-operator-generated/selfsigned-issuer-issuer.yaml: {}
  helm/ibm-common-service-operator-generated/serving-cert-certificate.yaml: {}
  helm/ibm-common-service-operator-generated/validating-webhook-configuration-validatingwebhookconfiguration.yaml: {}
  helm/ibm-common-service-operator-generated/webhook-service-svc.yaml: {}
